// -------------------------o Paths

$path-font : '../fonts/';
$path-images : '../images/';

// -------------------------o Fonts size

/*$fontSize: 10px;
$fontSizeSml: 12px;
$fontSizeMed: 14px;
$fontSizeWide: 14px;*/

// -------------------------o Fonts weight

/*$extralight: 100;
$light: 200;
$book: 400;
$medium: 500;
$bold: 700;
$black: 800;*/

// -------------------------o Imports fonts

/* ProximaNova */
@include importFont('ProximaNova', 'ProximaNova-Black', 800, normal, $path-font + 'ProximaNova-Black');

@include importFont('ProximaNova', 'ProximaNova-Extrabold', 700, normal, $path-font + 'ProximaNova-Extrabold');

@include importFont('ProximaNova', 'ProximaNova-Bold', 600, normal, $path-font + 'ProximaNova-Bold');

@include importFont('ProximaNova', 'ProximaNova-Semibold', 500, normal, $path-font + 'ProximaNova-Semibold');

@include importFont('ProximaNova', 'ProximaNova-Regular', 400, normal, $path-font + 'ProximaNova-Regular');

@include importFont('ProximaNova', 'ProximaNova-Light', 300, normal, $path-font + 'ProximaNova-Light');

$font-proximanova: 'ProximaNova', 'Arial', sans-serif;

// -------------------------o Colors

$color-white 				: #FFFFFF;
$color-black 				: #000000;
$color-orange 				: #ea6721;
$color-lightgrey 			: #ededed;
$color-grey 				: #d5d5d5;
$color-socialgrey 			: #b2b2b2;
$color-darkgrey 			: #666666;
$color-darkblue				: #153f68;

// -------------------------o Queries

/*$size-mobile: "only screen and (min-device-width : 320px) and (max-device-width : 700px)";*/
$size-mobile: "only screen and (max-width : 740px)";
/*$size-mobile-paysage: "only screen and (orientation: landscape) and (max-device-width : 700px)";*/
/*$size-phablet: "only screen and (min-device-width : 480px) and (max-device-width : 767px)";*/
/*$size-tablet: "only screen and (min-device-width : 700px) and (max-device-width : 1024px)";*/
$size-tablet: "only screen and (max-width : 1024px)";
/*$size-tablet-portrait: "only screen and (orientation: portrait) and (max-device-width : 768px)";*/
/*$size-desktop: "only screen and (min-width : 1025px)";*/
/*$size-big-desktop: "only screen and (min-width : 1680px)";*/
/*$size-height-730: "(max-height : 730px)";*/
/*$size-height-768: "(max-height : 768px)";*/
/*$size-height-850: "(max-height : 850px)";*/
$size-width-1170: "only screen and (max-width : 1170px)";
$size-width-1120: "only screen and (max-width : 1120px)";
$size-width-890: "only screen and (max-width : 890px)";
$size-width-360: "only screen and (max-width : 360px)";

// @media #{$size-mobile} {}
// @media #{$size-phablet} {}
// @media #{$size-tablet} {}
// @media #{$size-desktop} {}

// -------------------------o Easing

$ease-linear 		: 	cubic-bezier(0.250, 0.250, 0.750, 0.750);
$ease-InQuad 		:	cubic-bezier(0.550, 0.085, 0.680, 0.530);
$ease-InCubic 		:	cubic-bezier(0.550, 0.055, 0.675, 0.190);
$ease-InQuart		:	cubic-bezier(0.895, 0.030, 0.685, 0.220);
$ease-InQuint		:	cubic-bezier(0.755, 0.050, 0.855, 0.060);
$ease-InSine		:	cubic-bezier(0.470, 0.000, 0.745, 0.715);
$ease-InExpo		:	cubic-bezier(0.950, 0.050, 0.795, 0.035);
$ease-InCirc		:	cubic-bezier(0.600, 0.040, 0.980, 0.335);
$ease-InBack		:	cubic-bezier(0.600, 0, 0.735, 0.045);

$ease-OutQuad		:	cubic-bezier(0.250, 0.460, 0.450, 0.940);
$ease-OutCubic		:	cubic-bezier(0.215, 0.610, 0.355, 1.000);
$ease-OutQuart		:	cubic-bezier(0.165, 0.840, 0.440, 1.000);
$ease-OutQuint		:	cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-OutSine		:	cubic-bezier(0.390, 0.575, 0.565, 1.000);
$ease-OutExpo		:	cubic-bezier(0.190, 1.000, 0.220, 1.000);
$ease-OutCirc		:	cubic-bezier(0.075, 0.820, 0.165, 1.000);
$ease-OutBack		:	cubic-bezier(0.175, 0.885, 0.320, 1);

$ease-InOutQuad		:	cubic-bezier(0.455, 0.030, 0.515, 0.955);
$ease-InOutCubic	:	cubic-bezier(0.645, 0.045, 0.355, 1.000);
$ease-InOutQuart	:	cubic-bezier(0.770, 0.000, 0.175, 1.000);
$ease-InOutQuint	:	cubic-bezier(0.860, 0.000, 0.070, 1.000);
$ease-InOutSine		:	cubic-bezier(0.445, 0.050, 0.550, 0.950);
$ease-InOutExpo		:	cubic-bezier(1.000, 0.000, 0.000, 1.000);
$ease-InOutCirc		:	cubic-bezier(0.785, 0.135, 0.150, 0.860);
$ease-InOutBack		:	cubic-bezier(0.680, 0, 0.265, 1);
